<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form>
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
        >
      </div>
      <button type="button" (click)="login()"> Listar no Console </button>
    </form>
        <div *ngFor="let objeto of lista">
            Produto: {{ objeto['produto'] }},
            Peso: {{ objeto['peso'] }},
            Cadastro: {{ objeto['cadastro'] }},
            Valor: {{ objeto['preço'] }},
            Quantidade: {{ objeto['quantidade'] }}
        </div>
  </div>
</div>

